/**
 * =================================================================== 
 *
 *  Sedição v1.0 Main Stylesheet
 *  url: sedicao.com
 *  07-16-2021
 *  ------------------------------------------------------------------
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. colors, typography & general theme styles
 *  04. common styles
 *  05. buttons 
 *  06. header styles
 *  07. intro
 *  08. discography
 *  09. about
 *  10. modal
 *  11. footer
 *
 * =================================================================== 
 */

 /** 
 * ===================================================================
 * 01. webfonts and iconfonts
 *
 * ------------------------------------------------------------------- 
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons");
 
/** 
 * ===================================================================
 * 02. base style overrides
 *
 * ------------------------------------------------------------------- 
 */
@import url("reset.css");
@import url("https://unpkg.com/blueprint-css@3.1.1/dist/blueprint.min.css");

/** 
 * ===================================================================
 * 03. colors, typography & general theme styles
 *
 * ------------------------------------------------------------------- 
 */

 :root {
   --primary-color: #100F0F;
   --secondary-color: #211F1E;
   --tertiary-color: #47403B;
   --light-color: #E0CABA;
  }

 h1, h2, h3, h4, h5, h6, p, span, a {
   font-family: "Roboto";
   font-style: normal;
 }

 h1 {
   font-size: 5.1rem;
	line-height: 1.355;
	letter-spacing: -.1rem;
 }

 h2 {
   font-size: 2.1rem;
	line-height: 2.355;
	letter-spacing: -.1rem;
 }

 h3 {
   font-size: 1.1rem;
	line-height: 2.355;
	letter-spacing: -.1rem;
 }

 h4 {
   font-size: 1.1rem;
	line-height: 1.355;
   margin: 8px 0;
	letter-spacing: 0.05rem;
   font-weight: 200;
 }

 h5 {
   font-size: 1.1rem;
	line-height: 1.355;
   margin: 8px 0;
	letter-spacing: 0.05rem;
   font-weight: normal;
   text-align: center;
 }

 h6 {
   font-size: 0.8rem;
	line-height: 1.355;
   margin: 8px 0;
	letter-spacing: 0.05rem;
   font-weight: normal;
   text-align: center;
 }

 p {
   font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 10px;
 }

 a {
   text-decoration: none;
   color: #fff
 }

 i {
   font-size: 24px;
   padding-right: 12px;
 }

 iframe {
   margin-bottom: 24px;
 }

 button {
   margin: 24px 0;
   border-style: none;
   padding: 16px;
   border-radius: 12px;
   font-size: 1rem;
 }

 button:hover {
   opacity: 0.9;
   cursor: pointer;
 }

 button:active {
   transform: scale(1.1);
 }

 .txt-sm {
   font-size: 8px;
 }

 .txt-normal {
   font-size: 12px;
 }

 .txt-medium {
   font-size: 14px;
 }

 .txt-large {
   font-size: 18px;
 }

 .txt-large-x {
   font-size: 24px;
 }

 .txt-sm, .txt-normal, .txt-medium, .txt-large, .txt-large-x {
   margin: 0;
   padding: 0;
   line-height: 1.5;
 }

 .txt-primary {
   color: var(--primary-color);
 }

 .txt-secondary {
   color: var(--secondary-color);
 }

 .txt-tertiary {
   color: var(--tertiary-color);
 }

 .txt-light {
   color: var(--light-color);
 }

 .bg-primary {
   background-color: var(--primary-color);
 }

 .bg-secondary {
   background-color: var(--secondary-color);
 }

 .bg-tertiary {
   background-color: var(--tertiary-color);
 }

 .bg-light {
   background-color: var(--light-color);
 }

 .bg-green {
   background-color: #1DB954;
 }

 .bg-red {
   background-color: #FF0000;
 }

 .bg-orange {
   background-color: #FF9900;
 }

 .bg-blue {
   background-color: #00c7f2;
 }

 .bg-grey {
   background-color: #555555;
 }

 .bg-black {
   background-color: #000;
 }

 /** 
 * ===================================================================
 * 04. common styles
 *
 * ------------------------------------------------------------------- 
 */
 
 body, main, header, footer, section, div {
   flex: 1;
 }

 .round {
   border-radius: 4px;
 }

 .pointer {
   cursor: pointer;
 }

 .center {
   justify-content: center;
 }

 .justify-center {
   display: flex;
   justify-content: center;
 }

 .text-center {
   text-align: center;
 }

 .text-end {
   text-align: end;
 }

 .text-vertical-center {
   vertical-align: middle;
 }

 /** 
 * ===================================================================
 * 05. buttons
 *
 * ------------------------------------------------------------------- 
 */


 /** 
 * ===================================================================
 * 06 header styles
 *
 * ------------------------------------------------------------------- 
 */

 header {
   background-color: var(--primary-color);
 }

 /** 
 * ===================================================================
 * 07 - intro
 *
 * ------------------------------------------------------------------- 
 */

 img {
   user-select: none;
}

 .presentation {
   height: 80vh;
   background-color: var(--primary-color);
   z-index: 100;
 }

 .presentation::after {
   content: "";
   position: absolute;
   height: calc(80vh + 48px + 53.07px);
   width: 50%;
   background-image: url("../img/cover.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   right: 0;
   top: 0;
}

@media screen and (max-width: 768px) {
   .presentation {
      background-image: url("../img/cover.png");
      background-size: cover;
      background-position: center;
    }
   .presentation::after {
      display: none;
   }
}

 /** 
 * ===================================================================
 * 08 - discography
 *
 * ------------------------------------------------------------------- 
 */

 .card_album {
    height: 240px;
    padding: 10px;
    background-color: var(--light-color);
    margin-bottom: 10px;
 }

 .album {
   width: 140px;
   height: 140px;
   border-radius: 70px;
   overflow: hidden;
   background-color: var(--tertiary-color);
 }

 .album:hover {
   opacity: 0.8;
 }

 .album > img {
    width: 100%;
 }


 /** 
 * ===================================================================
 * 09 - about
 *
 * ------------------------------------------------------------------- 
 */

 .about {
   background-color: var(--light-color);
 }

 .avatar {
   width: 176px;
   height: 176px;
   border-radius: 88px;
   overflow: hidden;
 }

 /** 
 * ===================================================================
 * 11 - modal
 *
 * ------------------------------------------------------------------- 
 */

 #modal {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   background-color: rgba(0,0,0,0.9);
   display: none;
   justify-content: center;
   align-items: center;
   padding: 24px;
 }

 .modal_container {
   height: 80vh;
   padding: 24px;
   border-radius: 8px;
   background-color: #fff;
   overflow: scroll;
 }

 .closable {
   position: relative;
   right: 0;
   text-align: end;
 }

 .streaming_service > li {
   border-radius: 4px;
   overflow: hidden;
 }

 .stream-item-text {
   margin: 0;
 }

 /** 
 * ===================================================================
 * 11 - footer
 *
 * ------------------------------------------------------------------- 
 */

 footer {
   background-color: var(--tertiary-color);
 }

 .copyright{
   color: #fff;
   font-weight: 100;
   font-size: 0.7rem;
	line-height: 1.5;
	margin-bottom: 10px;
 }